* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;

    nav{
        display: flex;
        padding: 20px;
        justify-content: space-between;

        .logo{
            font-size: 30px;
            color: black;
        }

        ul{
            list-style: none;
        display: flex;
        gap: 20px;

        }

        a{
        text-decoration: none;
        color: brown;
        }
        a:hover{
            color: black;
        }

    }
}



section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;

}
#home{
    background: url("images/milktea.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    height: 100vh;
    gap: 20px;

    h1{
    color: brown;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.564);
    font-size: 50px;
    }
    p{
        font-size:20px;
        color: white;
        text-shadow: 1px 1px black;
    }
    .button-menu {
        background-color: brown;
        color: white;
        width: 200px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button-menu:hover{
         background-color: rgb(97, 24, 24);
    }
}
#menu{
    .menu-container{
        display: flex;
        min-width: 300px;
        flex-wrap: wrap;   
        gap: 20px; 
        justify-content: center;
        align-items: center;

        .card{
            border: 1px solid brown;
            border-radius:10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .button{
                background-color: brown;
                text-decoration: none;
                color: white;
                padding: 10px;
                text-align: center;
                border-radius: 10px;
                
            }
            .button:hover{
                background-color: rgb(97, 24, 24);
            }

        }
            .card:hover{
               transform: translateY(-8px);
               
            }
    }
}

#order-now{
    display: flex;
    flex-direction: column;
    gap:20px;
    form{
        display: flex;
        flex-direction: column;
        background-color: rgba(160, 81, 45, 0.401);
        padding: 20px;
        border-radius: 10px;
        gap:10px;
        flex-wrap: wrap;
        justify-content: center;
        width: 500px;

        input, select, textarea{
            padding:10px;
            border: 0;
            border-radius: 10px;
            appearance: none;
        }
        .submit{
            background-color: brown;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
        }
    }
    .submit:hover{
        background-color: rgb(97, 24, 24);
    }
}

#location{
    background: url("images/shop.jpg") no-repeat center center/cover;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    
    .location-container{
        background-color: rgba(255, 255, 255, 0.335);
        color: black;
        padding: 20px;
        border-radius:10px;
        text-align: center;
    }
}
footer{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width:480){
    #home h1{
        font-size: 20px;
    }
    #menu .menu-container .card{
        min-width: 200px;
    }
    #location{
        font-size: 16px;
    }
}
@media (max-width:768px){
    #menu .menu-container .card{
        min-width: 250px;
    }
}
@media (max-width:1366px){
    #menu .menu-container .card{
        min-width: 300px;
    }
}
@media (max-width:1920px){
    #menu .menu-container .card{
        min-width: 350px;
    }
}